@page
@model InventoryManagementSystem.Pages.SendEmail.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="cardnw">
    <h1>Send Inventory Mail</h1>

    <hr />
    <div id="vueApp" class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MerchantDetails.MerchantId" class="control-label">Merchant</label>
                    <select asp-for="MerchantDetails.MerchantId" class="form-control" asp-items="ViewBag.MerchantsName" name="merchant" v-on:change="merchantChanged"></select>
                </div>
                <div class="form-group">
                    <label asp-for="MerchantDetails.MerchantEmail" class="control-label">To Email/s</label>
                    @*<input class="form-control" type="email" id="toEmail" name="toEmail" />*@
                    <textarea class="form-control" id="toEmail" name="toEmail" rows="2" cols="50"></textarea>
                </div>

                <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@if (TempData["ErrorMessage"] != null)
{
    <span style="color:Red;">  @TempData["ErrorMessage"] </span>
}@if (TempData["SuccessMessage"] != null)
{
    <span style="color:green;">  @TempData["SuccessMessage"] </span>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js" asp-append-version="true"></script>

    <script>
        var app = new Vue({
            el: '#vueApp',

            data: {},
            methods: {
                merchantChanged: function (e) {
                    var selectedMerchantId = e.target.value
                    $.ajax({
                        type: 'GET',
                        url: '?handler=FindEmail',
                        data: { merchantId: selectedMerchantId },
                        dataType: 'json',
                        success: function (data) {
                            document.getElementById('toEmail').value = data;
                        },
                        error: function (error) {
                            alert("Error: " + error);
                        }
                    })
                }
            }
        });
    </script>
}