@page
@model InventoryManagementSystem.Pages.ManageUser.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create User</h1>

<hr />
<div id="vueApp" class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" id="username" class="form-control" maxlength="50" />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" id="mail" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" id="password" class="form-control" minlength="4" maxlength="10" />
            </div>
            <div class="form-group">
                <label class="control-label">Role</label>
                <select asp-for="IdentityRole.Id" class="form-control" asp-items="ViewBag.Roles" id="role"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" v-on:click="createUser" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">View user list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js" asp-append-version="true"></script>

    <script>
        var app = new Vue({
            el: '#vueApp',

            data: {},
            methods: {
                createUser: function (e) {
                    var uName = "";
                    var uMail = "";
                    var uPassword = "";
                    var uRole = "";
                    uName = document.getElementById("username").value;
                    uMail = document.getElementById("mail").value;
                    uPassword = document.getElementById("password").value;
                    uRole = document.getElementById("role").value;

                    if (uName === "" || uMail === "" || uPassword === "" || uRole === "" || uName === null || uMail === null || uPassword === null || uRole === null) {
                        alert("Please fill all the fields");
                        location.reload();
                    }
                    else {
                        if (uPassword.length > 4 && uPassword.length < 11) {
                            $.ajax({
                                type: 'GET',
                                url: '?handler=Submit',
                                data: { name: uName, email: uMail, password: uPassword, role: uRole },
                                dataType: 'json',
                                success: function (data) {
                                    debugger
                                    if (data == true) {
                                        alert("Successfully created new user");
                                        location.reload();
                                    }
                                    else {
                                        alert("Save faild!");
                                        location.reload();
                                    }
                                },
                                error: function (error) {
                                    alert("Error: " + error);
                                }
                            })
                        }
                        else {
                            alert("Password should be minimum 4 to 10 characters");
                            location.reload();
                        }
                    }

                }
            }
        });
    </script>
}