@page
@model InventoryManagementSystem.Pages.ManageUser.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Manage User</h1>

<p>
    <a asp-page="Create">Create New User</a>
</p>
<div id="vueApp" class="row">
    <div class="column">
        <ul style="list-style-type:none;" id="itemList1" class="side-by-side"></ul>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js" asp-append-version="true"></script>

    <script>
        var app = new Vue({
            el: '#vueApp',
            beforeMount() {

                $.ajax({
                    type: 'GET',
                    url: '?handler=FindUser',
                    dataType: 'json',
                    success: function (data) {
                        debugger;
                        var noOfUsers = data.length;
                        for (var userCount = 0; userCount < noOfUsers; userCount++) {
                            var users = data[userCount];
                            var username = users.userName;
                            $("#itemList1").append("<li>" +
                                "<p class='sc-name'>" + username + "</p>" +
                                " <input type='submit' value='Disable user' style='background-color:green' class='btn btn - primary' v-on:click='disableUser' />" +
                                "<hr></li>");

                        }

                    },
                    error: function (error) {
                        alert("Error: " + error);
                    }
                })
            },

            data: {

            }, methods: {
                disableUser: function (e) {
                    debugger;
                    var uName = "";

                }
            }
        });
    </script>
}