@page
@model InventoryManagementSystem.Pages.ManageUser.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Manage User</h1>

<p>
    <a asp-page="Create">Create New User</a>
</p>
<div id="vueApp" class="row">
    <div class="column">
        <ul style="list-style-type:none;" id="userList" class="side-by-side"></ul>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ApplicationUser)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        <input data-user-id="@item.Id" type="submit" value="Disable" class="btn btn-primary" v-on:click="disableUser" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js" asp-append-version="true"></script>

    <script>
        var app = new Vue({
            el: '#vueApp',
            beforeMount() {

                //$.ajax({
                //    type: 'GET',
                //    url: '?handler=FindUser',
                //    dataType: 'json',
                //    success: function (data) {
                //        var noOfUsers = data.length;
                //        for (var userCount = 0; userCount < noOfUsers; userCount++) {
                //            var users = data[userCount];
                //            var username = users.userName;
                //            $("#userList").append("<li>" +
                //                "<p class='sc-name'>" + username + "</p>" +
                //                " <input type='submit' value='Disable user' style='background-color:green' class='btn btn - primary' />" +
                //                "<hr></li>");
                //        }
                //    },
                //    error: function (error) {
                //        alert("Error: " + error);
                //    }
                //})
            },

            data: {

            }, methods: {
                disableUser: function (e) {
                    var uId = e.srcElement.dataset.userId;
                    $.ajax({
                        type: 'GET',
                        url: '?handler=DisableUser',
                        data: { userId: uId },
                        dataType: 'json',
                        success: function (data) {
                            if (data == true) {
                                alert("Successfully diasbled the user");
                            }
                            else {
                                alert("User disable faild!");
                            }
                        },
                        error: function (error) {
                            alert("Error: " + error);
                        }
                    })
                }
            }
        });
    </script>
}