@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="width: 1000px;
        height: 800px;
        background-image: url(https://www.helium10.com/app/uploads/2020/09/InventoryManagement_GetMore@3x.png)">
    <h1 class="display-4"><mark>~  Welcome  ~</mark></h1>
    <h2 class="display-4"><mark>Empite</mark></h2>
    <h2 class="display-4"><mark>Inventory Management System</mark></h2>
</div>